{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Главная страница </title>
    <link type="text/css" href="{% static 'ratingbeer/css/style.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'ratingbeer/images/icon.png'%}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">


{% block mainmenu %}
<div class="header">
    <div class="header__section">
        <div class="header__item headerlogo">
            <a href="{% url 'home' %}">
                <img src="{% static 'ratingbeer/images/icon.png' %}" alt="">
            </a>
        </div>
        <div class="header__item headerButton"><a href="{% url 'home' %}"
                                                  class="nav__link1">Главная</a></div>

        <div class="header__item headerButton dropdown">
            <button class="dropbtn">Категории</button>
            <div class="dropdown-content">
                {% for c in cats %}
                    <a href="{{ c.get_absolute_url }}">{{ c }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="header__item headerButton"><a href="#!" class="nav__link1">О сайте</a></div>
        </div>
        <div class="header__section">
            {% if request.user.is_authenticated %}
            <div class="header__item headerButton"><a href="{% url 'profile' %}"> Профиль</a></div>
            <div class="header__item headerButton"><a href="{% url 'logout' %}"> Выйти</a></div>
            {% else %}
            <div class="header__item headerButton"><a href="{% url 'login' %}"
                                                      class="nav__link1 last ">Логин</a></div>
            <div class="header__item headerButton"><a href="{% url 'register' %}"
                                                      class="nav__link1 last">Регистрация</a></div>
            {% endif %}
        </div>
    </div>
{% endblock mainmenu %}
{% block content %}
{% endblock content%}

{% if page_obj.has_other_pages %}
   <nav class="list-pages">
    <ul>
       {% if page_obj.has_previous %}
    <li class="page-num">
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    </li>
        {% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}

        {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-num">
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
    {% endif %}
    </ul>
</nav>
{% endif %}

</div>
</body>
</html>