{% extends 'ratingbeer/base.html' %}


{% block content %}
     <div class="intro">
        <h1 class="catalog">Оцени пиво</h1>
    </div>

    <div class="search_bar">
{#        <h3 class="search_title">Поиск пива</h3>#}
        <form action="{% url 'search' %}" method="get">
            <input type="search" name="q" placeholder="Введите название пива">
            <button type="submit">Поиск</button>
        </form>
    </div>

    <div class="main_table">
    {% for obj in posts %}

        <div class="post">
            <div class="post_list">
                <div class="post_list">
                <div class="article-panel">
                    <p class='first'> Категория : {{ obj.category }}</p>
{#                    <p class="last">Дата : {{ obj.time_update | date:'d-m-Y H:i:s' }}</p>#}
                </div>
                    <a class='link_to_post' href="{{ obj.get_absolute_url }}">
                        <h3 class="post_title">{{ obj.short_title }}</h3>
                    </a>
                <p class="post_alcogol">Алкоголь {{ obj.alcogol }}%</p>
                                <a href="{{ obj.get_absolute_url }}" >
                                    <p class="post-image"><img src="{{ obj.image.url }}" alt=""></p></a>
{#                <p class="post_desc">{{ obj.description }}</p>#}
            </div>
            </div>


        </div>


    {% endfor %}

    </div>

{% endblock content %}

