{% extends 'ratingbeer/base.html' %}

{% block mainmenu %}

    <div class="intro">
        <h1 class="catalog">Пиво</h1>
    </div>

{% endblock mainmenu %}

{% block content %}

    <ul class="main_table">
    {% for obj in posts %}

        <div class="post">
            <div class="post_list">
                <li class="post_list">
                <div class="article-panel">
                    <p class='first'> Категория : {{ obj.category }}</p>
                    <p class="last">Дата : {{ obj.time_update }}</p>
                </div>
                <h3 class="post_title">{{ obj.title }}</h3>
                <p class="post_alcogol">Алкоголь {{ obj.alcogol }}%</p>
                <p class="post_desc">{{ obj.description }}</p>
            </li>
            </div>

            <a href="{{ obj.get_absolute_url }}" class="post_btn_link">
                <div class="post_btn">
                    <p class="btn_text">
                        Подробнее
                    </p>
                </div>
            </a>
        </div>

        <hr>

    {% endfor %}

    </ul>

{% endblock content %}

