{% extends 'ratingbeer/base.html' %}
{% load static %}
{% block content %}
<div class="form_block">
<img class='welcome__img' src="{% static 'hello.jpg' %}"  height="400px" alt="">
<div class="login_form">
    <form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Войти</button>

    <p class="login_text_to_register">
        Если вы не зарегистрированы, пожалуйста пройдите <a href="{% url 'register' %}">регистрацию</a>
    </p>

</form>
</div>
</div>
{% endblock %}