{% extends 'ratingbeer/base.html' %}

{% block content %}
    <div class="blocks__post">
    <h1 class="post_title_in_post">{{ post.title }}</h1>
        <div class="single_post">

           <div>
                <p class="single_post_desc">{{ post.description }}</p>
            <p class="single_post_alcogol">Алкоголь: {{ post.alcogol }}%</p>
            {% if avg_rate %}
           <p>Средний рейтинг пользователей : {{ avg_rate }}</p>
           {% endif %}

            {% if request.user.is_authenticated %}
            <div class="rating__form__block">
            <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {{ form.as_p }}
            <button class='button__rating' type="submit">Добавить</button>

            </form>
            </div>
        {% endif %}
           </div>
        <div>
            {% if post.image %}
            <div class="post__image">
            <p><img class='image__in__post'src="{{ post.image.url }}" alt=""></p>
            </div>
        {% endif %}
        </div>
        </div>
    </div>
    
    <div class="add_comment_block">
        <a href="{% url 'add_comment' post_id=post.id%}">Добавить коментарий</a>
    </div>
    

    {% for comment in comments %}
        <div class="comments__block">
        <div class="comment__user__profile">
        <img src="{{ comment.profile.avatar.url }}" height="200" width="200" alt="" class="comment__image">
        <h1 class="comment__user">{{ comment.profile.user }}</h1>
        </div>
        <div class="comment__block">
            <h1 class="comment__title">
                {{ comment.title }}
            </h1>
            <p class="comment__content">{{ comment.content }}</p>
        </div>
        </div>
    {% endfor %}

{% endblock content%}